.content-section {
    margin-bottom: 60px;
}

.loading {
    background: url("../img/ajax-loader.gif");
    display: inline-block;
    height: 32px;
    overflow: hidden;
    vertical-align: bottom;
    width: 32px;
}

.comment-form .textarea-form-group {
    position: relative;
}

.comment-form .textarea-form-group .loading {
    left: 50%;
    margin: -16px 0 0 -16px;
    position: absolute;
    top: 50%;
    z-index: 10;
}

.chat-room-panel .panel-body {
    height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

.messages-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
